@font-face{
  font-family: 'Forum';
  font-weight: 400;
  font-style: normal;
  src: local('Forum'),
       url('../fonts/Forum.woff2') format('woff2'),
       url('../fonts/Forum.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat'),
       url('../fonts/Montserrat.woff2') format('woff2'),
       url('../fonts/Montserrat.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat-Medium'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Raleway-Medium'),
       url('../fonts/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-Medium.woff') format('woff');
  font-display: swap;
}