html,
body {
	height: 100%;
}

body{
  font-size: 16px;
  line-height: 20px;
  @extend %montserrat-400;
  color: $default;
  // overflow-x: hidden;
  // min-width: 300px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  @extend %forum-400;
}