@media(max-width: 1366px){
  .rhythm{
    padding: 80px 0;
    &__title{
      font-size: 30px;
      line-height: 33px;
    }
    &__img{
      width: 650px;
    }
  }
  .easy{
    padding: 120px 0;
    &::after{
      height: 134px;
    }
    &__img{
      width: 720px;
    }
  }
}

@media(max-width: 1220px){
  .header{
    &__content{
      height: 550px;
    }
    &__title{
      font-size: 50px;
      line-height: 56px;
    }
    &__img{
      width: 750px;
    }
    &::after{
      height: 140px;
    }
  }
  .footer{
    &__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__list-item{
      margin-right: 0;
      margin-bottom: 15px;
      &:nth-child(even){
        margin-left: auto;
      }
    }
  }
  .users{
    &__content{
      max-width: 460px;
    }
  }
  .functional{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 100px;
    }
  }
}

@media(max-width: 1100px){
  .header{
    &__content{
      height: 426px;
    }
    &__img{
      width: 600px;
    }
    &::after{
      height: 116px;
    }
  }
  .about{
    &__items{
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .users{
    &::after{
      height: 90px;
    }
    &__img{
      width: 600px;
    }
    &__content{
      padding: 70px 0 20px;
    }
  }
  .rhythm{
    &__img{
      width: 500px;
    }
  }
  .easy{
    padding: 88px 0;
    &::after{
      height: 116px;
    }
    &__img{
      width: 620px;
    }
  }
}

@media(max-width: 992px){
  .header{
    &__img{
      display: none;
    }
  }
  .menu{
    &__list-item{
      margin-right: 30px;
    }
  }
  .users{
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 50px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #EBF0F2 100%);
      top: 0;
    }
    &::after{
      height: 50px;
    }
    &__img{
      display: none;
    }
    &__title{
      display: none;
    }
    &__content{
      margin: 0 auto;
      padding: 50px 0;
      text-align: center;
    }
    &__content-title{
      font-size: 30px;
      line-height: 33px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-family: 'Forum', serif;
    }
  }
  .rhythm{
    &__img{
      display: none;
    }
  }
  .easy{
    &::after{
      display: none;
    }
    &__img{
      display: none;
    }
  }
}

@media(max-width: 892px){
  .header{
    padding-top: 25px;
    text-align: center;
    &::after{
      height: 70px;
    }
    &__content{
      padding: 70px 0 125px;
      height: auto;
    }
    &__link{
      margin: 0 auto auto;
    }
    &__btn{
      display: block;
      padding: 0;
      border: none;
      background-color: transparent;
      position: relative;
      margin-left: auto;
      margin-right: 5px;
      z-index: 3;
    }
  }
  .menu{
    position: absolute;
    z-index: 2;
    background-color: #fff;
    left: 15px;
    right: 15px;
    top: 0;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.09);
    transform: translateY(-400px);
    transition: all .5s;
    &.menu--open{
    transform: translateY(0);
    }
    .menu__list{
      display: block;
      padding: 20px 0;
    }
    &__list-item{
      text-align: center;
      margin-right: 0;
    }
    &__list-link{
      display: block;
      padding: 15px 0;
      font-size: 24px;
      line-height: 32px;
      color: $dark;
    }
  }
  .functional{
    &__items{
      padding: 0 20px;
    }
  }
}

@media(max-width: 768px){
  .about{
    &__items{
      display: block;
    }
    &__item{
      margin: 0 auto 25px;
      &:first-child{
        padding: 0;
      }
      &:nth-child(2){
        margin-bottom: 40px;
      }
    }
  }
  .functional{
    &__items{
      display: block;
    }
    &__item{
      margin: 0 auto;
    }
  }
  .improve{
    &__items{
      display: block;
    }
    &__item{
      display: block;
      margin: 0 auto 30px;
    }
  }
}

@media(max-width: 620px){
  .about,
  .users__content,
  .functional,
  .rhythm,
  .improve,
  .easy{
    padding: 60px 0;
  }
  .header{
    &__title{
      font-size: 44px;
      line-height: 44px;
      margin-bottom: 8px;
    }
    &__content{
      padding: 45px 0 100px;
    }
  }
  .footer{
    &__list{
      display: block;
    }
    &__list-item{
      text-align: center;
      margin-bottom: 15px;
      &:nth-child(even){
        margin-left: 0;
      }
    }
  }
  .about{
    &__title{
      margin-bottom: 40px;
    }
  }
  .users{
    padding: 0;
  }
  .functional{
    &__num{
      font-size: 75px;
      line-height: 80px;
    }
  }
  .rhythm{
    &__title{
      text-align: center;
    }
  }
  .improve{
    &__item{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .easy{
    text-align: center;
    &__title{
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 8px;
    }
    &__subtitle{
      margin-bottom: 25px;
    }
    &__link{
      margin: 0 auto;
    }
  }
}

@media(max-width: 540px){
  .rhythm{
    &__list-item{
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 450px){
  .title,
  .users__content-title{
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .header{
    &::after{
      display: none;
    }
    &__subtitle{
      margin-bottom: 25px;
    }
    &__content{
      height: 330px;
      padding: 0;
    }
    &__link{
      margin-bottom: 40px;
    }
  }
  .about{
    &__item{
      &::before{
        display: none;
      }
    }
  }
  .functional{
    &__item{
      margin-bottom: 15px;
    }
    &__num{
      font-size: 44px;
      line-height: 44px;
    }
  }
  .improve{
    &__item{
      margin: 0 auto 15px;
    }
  }
}