$main: #BF3F6E;
$dark: #323F59;

%forum-400{
  font-family: 'Forum', serif;
  font-weight: 400;
}

%montserrat-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%raleway-500{
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}

%raleway-600{
  font-family: 'Raleway-SemiBold', sans-serif;
  font-weight: 600;
}




%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}









@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}
