@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-color: #F9FBFB;
  padding-top: 50px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 168px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EBF0F2 100%);
    bottom: 0;
  }
  &__btn{
    display: none;
  }
  &__img{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__content{
    height: 642px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @extend %forum-400;
    margin-top: auto;
  }
  &__subtitle{
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  &__link{
    background-color: $main;
    box-shadow: 0px 0px 10px 5px rgba(191, 63, 110, 0.2);
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: auto;
    width: 180px;
    padding: 14px 0;
    text-align: center;
    display: block;
  }
}

.menu{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__list-item{
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.about{
  padding: 100px 0 80px;
  &__title{
    margin-bottom: 80px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 116px;
      height: 108px;
      left: 44px;
      top: 8px;
      background-image: url('../images/about/spiral.svg');
      z-index: -1;
    }
    &:first-child{
      padding-top: 30px;
    }
    &:nth-child(2){
      .about__item-img{
        margin-bottom: 8px;
      }
    }
  }
  &__item-img{
    margin-bottom: 25px;
  }
  &__item-text{
    max-width: 190px;
    color: $dark;
    text-align: center;
  }
}

.users{
  background-color: #FBFDFE;
  padding: 50px 0;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 110px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EBF0F2 100%);
    bottom: 0;
  }
  &__inner{
    position: relative;
  }
  &__img{
    position: absolute;
    left: 0;
    top: -64px;
  }
  &__content{
    max-width: 500px;
    margin-left: auto;
    padding: 100px 0 50px;
  }
  &__content-title{
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  &__content-text{
    font-size: 20px;
    line-height: 30px;
    color: $dark;
  }
}

.functional{
  padding: 100px 0 150px;
  &__title{
    margin-bottom: 40px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 100px;
    padding: 0 65px;
  }
  &__item{
    max-width: 540px;
    display: flex;
    align-items: center;
  }
  &__num{
    color: #E6B2C6;
    @extend %forum-400;
    font-size: 100px;
    line-height: 110px;
    margin-right: 15px;
  }
  &__text{
    font-size: 18px;
    line-height: 22px;
    @extend %montserrat-500;
  }
}

.rhythm{
  padding: 120px 0;
  background-color: #F9FBFB;
  position: relative;
  &__title{
    font-size: 35px;
    line-height: 39px;
    text-align: left;
    margin-bottom: 50px;
  }
  &__list-item{
    margin-bottom: 30px;
    color: $dark;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 0;
    padding-left: 60px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__list-item--performance::before{
    background-image: url('../images/rhythm/performance.svg');
  }
  &__list-item--fun::before{
    background-image: url('../images/rhythm/fun.svg');
  }
  &__list-item--serenity::before{
    background-image: url('../images/rhythm/serenity.svg');
  }
  &__img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.improve{
  padding: 100px 0;
  &__title{
    margin-bottom: 50px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 0;
  }
  &__item{
    max-width: 310px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding-left: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.09);
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(even){
      margin-left: auto;
    }
    span{
      display: block;
    }
  }
}

.easy{
  padding: 150px 0;
  background-image: url('../images/easy/easy-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 154px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EBF0F2 100%);
    bottom: 0;
  }
  &__title{
    font-size: 50px;
    line-height: 55px;
    @extend %forum-400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__subtitle{
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  &__link{
    background-color: $main;
    box-shadow: 0px 0px 10px 5px rgba(191, 63, 110, 0.2);
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    width: 180px;
    padding: 14px 0;
    text-align: center;
    display: block;
  }
  &__img{
    position: absolute;
    right: 0;
    top: -40px;
  }
}

.footer{
  padding: 45px 0;
  color: #fff;
  background: linear-gradient(90.73deg, #BF3F6E 0.11%, #DD7FAB 100%);
  &__list{
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
    margin-right: 70px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__list-link{
    font-size: 18px;
    line-height: 21px;
    @extend %raleway-500;
    display: block;
  }
  &__email{
    font-size: 18px;
    line-height: 21px;
    @extend %raleway-600;
    max-width: 380px;
    margin: 0 auto;
    display: block;
  }
}

@import 'media';